/* navbar start*/
h1{
    text-align: center;
    font-size: 120px.5rem;
}
h2{
    text-align: center;
}
p{
    font: size 1.2rem; 
    text-align: justify;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
*{
    margin: 0;
    padding: 10px auto;
    box-sizing: border-box;
}

.navbar-conteinar{
    font-family: 'Fira Sans', sans-serif;
    background-color: aquamarine;
    text-align: center;
    padding: 1% 7%;
}
.navbar-logo{

}
.navbar-heading{
    font-size: 1.2rem;
    text-align: center;
    color: rgb(42, 165, 87);
}
.navbar-menu{
    display: flex;
    flex-direction: column;
}
.navbar-menu a{
    text-decoration: none;
    color: rgb(22, 135, 233);
    background-color: rgb(36, 214, 78);
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
  
}
.navbar-menu a:hover{
    background-color: gray;
    border-radius: 10px;
}
[class*=col-]{
    float: left;
    padding: 10px;
}


/* for mobile*/


[class*=col-]{
    width: 100%;
}
.navbar-conteinar::after{
    content: '';
    display: table;
    clear: both;
}
/* navbar end*/



/* profile start*/
.profile{
    padding: 120px 10px;
    position: relative;
    text-align: center;
}
.top-icon-weather{
    height: 80px; 
    width: 80px;
    position: absolute;
    right: 60px;
    top: 20px;
    transition: 2s;
    
}
 .top-icon-weather:hover{
    transform: rotate(360deg);
 }
.bottom-icon-weather{
  height: 80px;
    width: 80px;
    position: absolute;
    bottom: 10px;
    left: 60px;
    transition: 2s;
 }
.bottom-icon-weather:hover{
    transform: rotate(360deg);
}
.profile-bio h1{
    font-size: 3rem;
    font-family: 'Satisfy', cursive;
}
.profile-bio p{
    color: gray;
    text-align: center;
    width: 90%;
    margin: 0 auto 20px auto;
}
.profile::after{
    content: '';
    display: table;
    clear: both;
}




/*ABOUT ME START*/
.about-me{
text-align:center ;
font-family: 'Fira Sans', sans-serif;
text-transform: capitalize;
background-color: antiquewhite;
padding: 50px 10px ;
}
.about-me h1{
    font-family: 'Satisfy', cursive;
}
.dotted-hr{
    border: 5px dotted black;
    border-bottom: none;
    width: 70px;
    margin: 20px auto;
}
.about-me-img img{
    height: 180px;
    width: 180px;
    border: white solid 2px;
    border-radius: 50%;
}
.about-me-bio p{
text-align: center;

}
.btn{
    padding: 10px;
    border-radius: 10px;
    }

hr{
    margin: 8px;
    border: 1px solid black;
    border-bottom: none;
    width: 100%;
}
.about-me::after{
    content: '';
    display: table;
    clear: both;
}

   /*card degine start*/
.main-card-conteinar{
 padding: 10px 20px;
}
.card{
    background-color: gray;
    padding: 20px 10px;
    border-radius: 20px;
    max-width: 500px;
    margin: 10px;
    transition: .3s;
}
.card-logo{
    text-align: center;
   
}
.card-logo img{
    height: 80px;
    width: 80px;
    border: 4px solid black;
    padding: 10px;
    border-radius: 40%;
}
.card-heading{
    background-color: antiquewhite;
    padding: 8px;
    margin: 15px 2px;
}
.card-dis{
    text-align: left;
    font-size: 1.2rem
}
.card:hover{
    box-shadow: 5px 5px 10px black;
    transform: scale(1.04);
   
}

.skill-bar ul{
    list-style-type: none;
    
}
.skill-bar li{
    margin: 40px 0px;
    position: relative;
    font-weight: bold;
}
.skill-bar li::before{
    position: absolute;
    content: '';
    top: calc( 100% + 4px) ;
    height: 18px;
    width: 100%;
    left: 0%;
    border-radius: 10px;
    background-color: antiquewhite;
}
.skill-bar li::after{
  position: absolute;
  content: '';
  height: 18px;
  top: calc( 100% + 4px);
  width: 0%;
  left: 0%;
  border-radius: 10px;
  background-color: rgb(170, 19, 200);
  


  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}


.skill-bar li.html::after{
animation-name: html;
}
@keyframes html {
    to{
        width: 80%;
        background-color: aqua;
    }
}

.skill-bar li.css::after{
    animation-name: css;
}

@keyframes css {
    to{
        width: 72%;
        background-color: blue;
    }
}
.skill-bar li.boothstep::after{
    animation-name: boothstep;
}
@keyframes boothstep {
    to{
        width: 45%;
        background-color: black;
    }
}
.skill-bar li.js::after{
    animation-name: js;
}
@keyframes js {
    to{
        width: 60%;
        background-color: yellowgreen;
    }
}
.skill-bar li.react::after{
    animation-name: react;
}
@keyframes react {
    to{
        width: 70%;
        background-color: tomato;
    }
}
.skill-bar li.python::after{
    animation-name: python;
}
@keyframes python {
    to{
        width: 60%;
        background-color: blue;
    }
}


.main-card-conteinar::after{
    display: table;
    clear: both;
    content: '';
}
 /*card degine end*/

 /*ACHIVEMENTS AND CONTACT SECTION START HERE*/

 .chivement-contact{
    background-color: aquamarine;
 }
  /*ACHIVEMENTS SECTION START HERE*/

  .chivements-bio p{
    font-size: 1.2rem;
    margin: 10px 0px;
    text-transform: capitalize;
    padding: 1% 7%;
  }
.capitale{
    text-transform: uppercase;
    
}
  /*ACHIVEMENTS SECTION END HERE*/

  /*CONTACT SECTION START HERE*/  
  .contact-form{
    text-align: center;
    padding: 10px;
    
  }
  .contact-form input,textarea{
    width: 100%;
    margin: 10px 2px;
    text-align: center;
    border: none;
    border-radius: 5px;
   resize: none;
  }
  .contact-form input{
    height: 30px;
  }
  .contact-form button{
    padding:10px ;
    width: 80px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: black;
    margin: 0px 20px;
  }
  .contact-form button:hover{
    color: black;
    background-color: white;
  }

  /*CONTACT SECTION END HERE*/

   /*OTHERS LINK SECTION START HERE*/

.others-link{
    text-align: center;
}
.link-button{
    margin-bottom: 15px;
}
.button{
    border: none;
    font-size: 2rem;
    border-radius: 15px;
    padding: 1px 5px;
    margin: 10px 10px;
    height: 50px;
    width: 50px;
    background-color: aliceblue;
}
.link-hr{
    display: none;
    visibility: hidden;
}
   /*OTHERS LINK SECTION END HERE*/

.chivement-contact::after{
    display: table;
    clear: both;
    content: '';

}
/*ACHIVEMENTS AND CONTACT SECTION END HERE*/

/*FOOTER SECTION START HERE*/
.footer-menu{
    text-align: center;
    background-color: rgb(0, 0, 0);
    

}
.footer-menu a{
    display: block;
    color: white;
    margin: 15px;
}
.footer-dis{
    background-color: black;
    color: white;
    text-align: center;
}
.footer::after{
    display: table;
    content: '';
    clear: both;
}
